<footer class="w-100 d-flex justify-content-end align-items-center flex-column footer-con">
    <p class="text-center p descript">Y2Any is dedicated to providing quality products and services. We strive to ensure customer satisfaction with our curated selection.</p>
    <p class="d-flex justify-content-center gap-2">Follow us: <a href="https://github.com/Kerbs-IT" target="_blank"><i class="fa-brands fa-github text-white fs-4"></i></a></p>
    <p>&copy; 2024 Y2Any. All rights reserved.</p>
</footer>