
<header>
    <nav class="">
        <a href="/" class="text-decoration-none text-dark"><h3 ><i class="fa-solid fa-circle-down text-white" style="background-color:red;"></i> Y2Any</h3></a>
        <div class="links">
            <a href="/" class="text-decoration-none">Youtube to Mp3</a>
            <a href="/downloadMp4" class="text-decoration-none">Youtube to Mp4</a>
        </div>
    </nav>
</header>